/* body */
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header */
header {
    height: 69px;
    width: 100%;
    position: fixed;
    background-color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid seashell;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 10px 20px;
}

.logo {
    padding-left: 10px;
    height: 50px;
}

a {
    color: seashell;
    text-decoration: underline;
}

/* main */

/* section mission */
#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    display: inline-block;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
}

#mission article {
    position: absolute;
    top: 50%;
    width: 1200px;
    background-color: black;
}

h2,
h4 {
    padding: 10px;
    margin: 0;
}
