/* body */
body {
    font-family: Helvetica, sans-serif;
    font-size: 1.375rem;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin-top: 0;
}

/* Header */
header {
    height: 69px;
    width: 100%;
    position: fixed;
    background-color:black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-flex;
    margin-right: 20px;
}

.logo {
    padding-left: 10px;
    height: 50px;
}

a {
    color: seashell;
    text-decoration: underline;
}

/* main */

/* section mission */
#mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
}

#mission article {
    position: relative;
    top: 50%;
    width: 1200px;
    background-color: black;
}

h2,
h4 {
    padding: 10px;
    margin: auto;
}

/* section featured-tea */
#featured-tea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

#featured-tea div {
    display: inline-block;
    margin: 10px;
}

#featured-tea img {
    width: 300px;
    height: 200px;
}

/* section locations */
#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 580px;
    width: 1200px;
    margin: 40px auto 0px;
}
#locations h2 {
    padding-top: 80px;
    padding-bottom: 15px;
}

#locations .locations {
    display: inline-block;
    margin: 0px 20px;
    width: 300px;
    background-color: black;
}

#locations p {
    padding-top: 15px;
}

/* section contact */
.contact {
    height: 200px;
}

/* footer */
footer {
    text-align: left;
    padding-left: 20px;
}